@import "tailwindcss";
:root {
  --text: #1b1b1b;
  --secondary--text: #1b1b1b;
  --secondary--text-fade: rgb(15, 36, 61, 0.6);
  --background: #fefefe;
  --background-secondary: #155eb6;
  --card-border: rgba(15, 36, 61, 0.6);
  --border-highlight: rgba(0, 0, 0, 0.25);
  --color-fade1: rgba(255, 255, 255, 0.5);
  --color-fade2: rgb(255, 255, 255);
  --color-fade4: rgba(255, 255, 255, 0.8);
  --color-fade3: #0f243d;
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  font-size: 14px;
  color-scheme: light;
  --webkit-color-scheme: light;
}
body {
  font-family: var(--font-poppins);
  background-color: var(--background);
  color: var(--text);
}
.font--judson {
  font-family: var(--font-judson);
}
.header {
  @apply fixed top-0 left-0 w-full z-1000;
  background-color: var(--background-secondary);
}
.scrollbar {
  scrollbar-width: none;
}
.text_color--primary {
  color: var(--text);
}
.hover_bg {
  background-color: var(--background-secondary);
}
.bg--secondary {
  background-color: var(--background-secondary);
}
.color--fade {
  color: var(--color-fade1);
}
.section--primary {
  @apply py-[2rem] lg:py-[2rem];
  color: var(--text);
}
.section--secondary {
  @apply py-[2rem] lg:py-[4rem];
  color: var(--text);
}
.pattern {
  --s: 18px; /* control the size*/
  --c1: #ffffff;
  --c2: #dcdcdc;

  --l1: #0000 48%, var(--c1) 0 52%, #0000 0;
  --l2: #0000 1.3%, var(--c2) 0 32%, #0000 0;
  background:
    linear-gradient(-45deg, var(--l2)),
    linear-gradient(45deg, var(--l1)),
    linear-gradient(45deg, var(--l2)) calc(var(--s) / 2) calc(var(--s) / 2),
    linear-gradient(-45deg, var(--l1)) var(--c2);
  background-size:
    calc(2 * var(--s)) var(--s),
    var(--s) var(--s);
}
.pattern--box {
  --s: 18px; /* control the size*/
  --c1: #ffffff;
  --c2: #b9d2f1;

  --l1: #0000 48%, var(--c1) 0 52%, #0000 0;
  --l2: #0000 1.3%, var(--c2) 0 32%, #0000 0;
  background:
    linear-gradient(-45deg, var(--l2)),
    linear-gradient(45deg, var(--l1)),
    linear-gradient(45deg, var(--l2)) calc(var(--s) / 2) calc(var(--s) / 2),
    linear-gradient(-45deg, var(--l1)) var(--c2);
  background-size:
    calc(2 * var(--s)) var(--s),
    var(--s) var(--s);
}
.section_head--primary {
  @apply text-[1.2rem] lg:text-[1.7rem] uppercase tracking-[-.05rem] text-center lg:text-start font-medium leading-[1.2rem] lg:leading-[1.4rem];
  color: var(--text);
}
.section_head--secondary {
  @apply text-[1.2rem] lg:text-[1.7rem] uppercase tracking-[-.05rem] text-center lg:text-start font-medium leading-[1.2rem] lg:leading-[1.4rem];
  color: var(--text);
}
.banner--head {
  color: var(--secondary--text);
}
.banner--description {
  color: var(--secondary--text-fade);
}
.inner--section {
  @apply w-[95%] lg:w-[95%] mx-auto flex flex-col gap-2 lg:flex-col lg:gap-4;
}
.section--left {
  @apply w-full lg:w-full;
}
.section--right {
  @apply w-full lg:w-full;
  scrollbar-width: none;
}
.section_paragraph {
  @apply lg:text-[1.2rem];
}
.image--box {
  @apply relative bg-white rounded-[.5rem] h-[12rem] md:h-[15rem] lg:h-[18rem] flex flex-col p-4;
  border: 1px solid var(--card-border);
}
.border--highlight {
  background-color: var(--border-highlight);
}
.highlight--card {
  border: 1px solid var(--card-border);
}
.text1--highlight-box {
  color: var(--secondary--text);
}
.text2--highlight-box {
  color: var(--secondary--text);
}
.form--section {
  @apply md:w-1/2 flex flex-col gap-4;
}
.form--label {
  @apply lg:text-[1.2rem];
}
.form--input {
  @apply w-full py-2 px-3 lg:px-4 border border-[#b6b6b6] bg-white lg:text-[1.1rem] rounded-[.3rem];
}
.form--button {
  @apply w-full py-1.5 px-4 hover:-translate-y-[2px] active:translate-y-0 transition-transform cursor-pointer text-white font-medium;
  background-color: var(--background-secondary);
}

/* individual product */
.page--product {
  @apply py-[6rem] sm:py-[3.8rem] md:py-[4rem] lg:pt-[8rem] lg:pb-0;
}
.page--product-heading {
  @apply text-[1.1rem] md:text-[1.8rem] lg:text-[1.8rem] font-medium tracking-[-.05rem] lg:w-[40rem] leading-[2.5rem];
  color: var(--secondary--text);
}
.page--product-text {
  @apply text-[1rem] lg:text-[1.2rem] text-black leading-[1.4rem] text-justify;
}
.footer--text {
  @apply text-[.9rem] lg:text-[1.1rem] text-start text-[rgba(255,255,255,.7)];
}
@media (max-width: 639px) {
  footer .lg\:w-1\/2.flex {
    align-items: center; /* center horizontally */
    text-align: center; /* center text inside */
  }

  footer .footer--text {
    align-items: center;
    text-align: center;
  }
}
