@import "tailwindcss";

:root {
  --text: #ffffff;
  --secondary--text: #0f243d;
  --background: #0f243d;
  --background-secondary: #d9d9d9;
  --border-color--section: rgba(255, 255, 255, 0.5);
  --border-highlight: rgba(0, 0, 0, 0.25);
  --color-fade1: rgba(255, 255, 255, 0.5);
  --color-fade2: rgba(255, 255, 255, 0.7);
  --color-fade4: rgba(255, 255, 255, 0.8);
  --color-fade3: #0f243d;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-poppins);
}

.font--judson {
  font-family: var(--font-judson);
}

.header {
  @apply fixed top-0 left-0 w-full z-1000;
  border-bottom: 1px solid var(--border-color--section);
  background-color: var(--background);
}

.circle-shift {
  margin-left: 0.5rem; /* adjust value: 0.25rem for smaller, 0.75rem for bigger */
}
/* Center footer Links & Contact ONLY on mobile */
@media (max-width: 639px) {
  footer .lg\:w-1\/2.flex {
    align-items: center; /* center horizontally */
    text-align: center; /* center text inside */
  }

  footer .footer--text {
    align-items: center;
    text-align: center;
  }
}

.color--fade {
  color: var(--color-fade1);
}

.section--primary {
  @apply py-[2rem] lg:py-[3.5rem] my-[2rem] lg:my-[3.5rem];
  border-top: 1px solid var(--border-color--section);
  border-bottom: 1px solid var(--border-color--section);
}
.section--secondary {
  background-color: var(--background-secondary);
  @apply py-[2rem] lg:py-[3.5rem];
}

.section--footer {
  @apply py-[2rem] lg:py-[3.5rem] mt-[2rem] mb-[1rem] lg:mt-[3.5rem] lg:mb-[1.5rem];
  border-top: 1px solid var(--border-color--section);
  border-bottom: 1px solid var(--border-color--section);
}

.inner--section {
  @apply w-[95%] lg:w-[85%] mx-auto flex flex-col gap-2 lg:flex-row lg:gap-0;
}

.section--left {
  @apply w-full lg:w-3/12;
}

.section--right {
  @apply w-full lg:w-9/12;
}

.section_head--primary {
  @apply lg:text-[1.2rem] uppercase leading-[1.2rem] lg:leading-[1.4rem] w-[15rem];
  color: var(--color-fade2);
}
.section_head--secondary {
  @apply lg:text-[1.2rem] font-medium uppercase leading-[1.2rem] lg:leading-[1.4rem] w-[15rem];
  color: var(--color-fade3);
}

.section_paragraph {
  @apply lg:text-[1.2rem];
}

.image--box {
  @apply relative bg-white rounded-[.5rem] h-[12rem] md:h-[14rem] hover:-translate-y-[3px] active:translate-y-0 transition-transform cursor-pointer;
}

.image-text--secondary {
  @apply absolute top-4 left-4 text-[1.2rem] font-medium w-[10rem] leading-[1.4rem];
  color: var(--secondary--text);
}

.image-text--primary {
  @apply absolute top-4 left-4 text-[1.2rem] font-semibold w-[10rem] leading-[1.4rem];
  color: var(--text);
}

.image {
  @apply absolute bottom-0 right-2 h-[8rem] w-[8rem] lg:h-[9rem] lg:w-[9rem]  object-cover;
}

.border--highlight {
  background-color: var(--border-highlight);
}

.text1--highlight-box {
  @apply lg:text-[1.2rem] font-semibold;
  color: var(--secondary--text);
}
.text2--highlight-box {
  @apply lg:text-[1.2rem] leading-[1.4rem] lg:leading-[1.8rem] w-[90%] sm:w-full;
  color: var(--secondary--text);
}

.mission_statement--heading {
  @apply text-[1.8rem] lg:text-[2.5rem];
  color: var(--text);
  font-family: var(--font-judson);
}
.mission_statement--description {
  @apply text-[1.3rem] lg:text-[2rem] max-w-[60rem] text-center leading-[1.6rem] lg:leading-[2.5rem];
  color: var(--color-fade2);
  font-family: var(--font-judson);
}

.form--section {
  @apply md:w-1/2 flex flex-col gap-4;
}
.form--label {
  @apply lg:text-[1.2rem];
}
.form--input {
  @apply w-full py-2 px-3 lg:px-4 border border-[#D3D3D3] bg-white lg:text-[1.1rem] rounded-[.3rem];
}
.form--button {
  @apply w-full py-1.5 px-4 hover:-translate-y-[2px] active:translate-y-0 transition-transform cursor-pointer;
  background-color: var(--background);
  color: var(--text);
}

/* individual product */
.page--product {
  @apply py-[2.5rem] lg:py-[5rem];
  background-color: var(--background-secondary);
}

.footer--text {
  @apply text-[.9rem] lg:text-[1.1rem] text-[rgba(255,255,255,.7)];
}
